* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: azure;
    margin: 0;
}


/* nagłówek - ramka, wyrównanie tekstu, kolor tła i tekstu*/

body>header {
    border: 10px solid #0066FF;
    text-align: center;
    background-color: #0066FF;
    color: azure;
}


/* odwolanie do klasy nawigacja, sticky - najpierw static, potem (jak osiągnie górę strony) fixed */

nav {
    position: sticky;
    top: 0;
}

nav ul {
    background-color: #6ba6ffcb;
    border: 10px solid #0066FF;
    border-top: none;
    /* punktowanie listy */
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* DISPLAY FLEX */
    display: flex;
    justify-content: space-evenly;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* kopanie flex 
    flex-direction: column; */
}

nav ul li {
    /* POJEDYNCZE ELEMENTY MENU */
    border: 2px solid #0066FF;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: #0066FF;
    color: #FFF;
    cursor: pointer;
    transition: 1s;
    font-weight: bolder;
}

nav ul li:hover {
    background-color: #00327e;
    color: #FFF;
}

nav ul li:active {
    background-color: #536683;
    color: #FFF;
    transition: none;
}

.ciastka {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0066FF;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

button {
    cursor: pointer;
}